// .navbar_style{
//     margin: 0 auto;
//     padding: 15px 0;
//     .header{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .logo{
//             font-size: 28px;
//             font-weight: bold;
//             color: #1D1617;
//             .logo-span{
//                 color: #000AF7;
//             }
//         }
//         .nav__bar{
//             display: flex;
//             justify-content: space-between;
//             justify-items: center;
//             .menu{
//                 margin-right: 50px;
//                 padding-top: 15px;
//                 display: flex;
//                 justify-content: space-between;
//                 align-items: center;
//                 list-style: none;
//                 a{
//                     text-decoration: none;
//                     color: #1D1617;
//                     font-size: 18px;
//                     font-weight: 500;
//                     padding: 10px 15px;
//                 }
//                 a:hover{
//                     color: #000AF7;
//                 }
//                 a.active{
//                     color: #000AF7;
//                 }
//             }
//             .login{
//                 padding: 10px 30px;
//                 border: 1.5px solid #000AF7;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 border-radius: 15px;
//                 text-decoration: none;
//                 &:hover{
//                     background-color: #000AF7;
//                     color: #fff;
//                     font-weight: 500;
//                 }
//             }
//         }
//     }
// }
nav {
    font-family: "Poppins", sans-serif;
    .nav-link {
        text-decoration: none !important;
        color: #1d1617;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        &:hover {
            color: #000af7;
        }
    }
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #1d1617;
    .logo-span {
        color: #000af7;
    }
}

.login {
    padding: 10px 30px;
    border: 1.5px solid #000af7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: #1d1617;
    &:hover {
        background-color: #000af7;
        color: #fff;
        font-weight: 500;
    }
}
