nav {
    font-family: "Poppins", sans-serif;
    .nav-link {
        text-decoration: none !important;
        color: #1d1617;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        &:hover {
            color: #000af7;
        }
    }
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #1d1617;
    .logo-span {
        color: #000af7;
    }
}

.login {
    padding: 8px 15px;
    border: 1.5px solid #000af7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    color: #1d1617;
    cursor: pointer;
    &:hover {
        background-color: #000af7;
        color: #fff;
        font-weight: 500;
    }
}

.img__icon_login{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.icon_login{
    position: relative;
    .dropdown__user{
        position: absolute;
        right: 0px;
        width: 200px;
        background-color: #fff;
        z-index: 10;
        li{
            padding: 10px 20px;
            border-bottom: 1px solid #f2f2f2;
            cursor: pointer;
            &:hover{
                background-color: #f2f2f2;
            }
            .user__link{
                color: #3b3637;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    color: #000af7;
                }
            }
        }

    }
}