
// Hien create 28/4/2024

.doctor__list {
    width: 100%;
    height: auto; /* Thay đổi từ 372px thành auto */
    position: relative; /* Thay đổi từ absolute thành relative */
    margin-bottom: 120px;
}

.doctor__list_background {
    background-color: rgba(240, 235, 255, 1);
    width: 255px;
    height: 280px;
    position: relative;
    left: 0;
    top: 70px;
    border-radius: 50px;
}

.doctor__list_image {
    height: 360px;
    position: absolute;
    left: -50px; // Consider using variables or calculations
    top: 0;
}

.doctor__list_background_title {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 60px;
    position: absolute;
    left: 26px;
    top: 312px;
    border-radius: 10px;
}

.doctor__list_title {
    color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 21px;
    position: absolute;
    left: 40px;
    top: 324px;
    font-family: Poppins;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
}

.doctor__list_department {
    color: blue;
    width: 150px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 346px;
    font-weight: 600;
    text-align: left;
    font-size: 12px;
}

.doctor__list_icon {
    position: absolute;
    left: 185px;
    top: 328px;
    font-size: 30px;
}
