
// Hien create 28/4/2024

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.doctor__list {
    width: 100%;
    height: auto; /* Thay đổi từ 372px thành auto */
    position: relative; /* Thay đổi từ absolute thành relative */
    margin-bottom: 120px;
    // .doctor_rate{
    //     position: absolute;
    //     top: 0;


    // }
}

.doctor__list_background {
    background-color: rgba(240, 235, 255, 1);
    width: 255px;
    height: 280px;
    position: relative;
    left: 0;
    top: 70px;
    border-radius: 50px;
    box-shadow: var(--boxShadow);
}

.doctor__list_image {
    height: 360px;
    position: absolute;
    left:   2%; // Consider using variables or calculations
    top: 0;
    overflow: hidden;
    //border-radius: 50px;
   // background-color: #000af7;
}

.doctor__list_background_title {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 60px;
    position: absolute;
    left: 26px;
    top: 312px;
    border-radius: 10px;
}

.doctor__list_title {
    color: #000;
    width: 200px;
    height: 21px;
    position: absolute;
    left: 40px;
    top: 324px;
    font-family: "Comfortaa", sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 900;
}

.doctor__list_department {
    font-family: "Comfortaa", sans-serif;
    color: rgb(138, 138, 138);
    width: 150px;
    height: 18px;
    position: absolute;
    left: 40px;
    top: 346px;
    font-weight: 600;
    text-align: left;
    font-size: 10px;
}

.doctor__list_icon {
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 40px;
    left: 200px;
    top: 325px;
    text-align: center;
    font-size: 30px;
    border: 1px solid blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #000af7;
        color: #fff;
        .list__icon-rowup{
            color: #fff;
        }
    }
}

.doctor__list_rate{
    position: absolute;
    background-color: #fff;
    color: #ffc43a;
    text-shadow: red 0 1px;
    width: 50px;
    height: 40px;
    left: 200px;
    top: 325px;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

